:root {
	--clr-bkgrnd: #deeefb;
	--clr-text-fleet: hsl(0, 0%, 90%);
	--clr-ship-bkgrnd: #474758;
	--clr-btn-bkgrnd: #FCB5AC;
	--clr-btn-bkgrnd-fcs: #B99095;
	--clr-miss-usergrid: rgb(99, 163, 251);
	--clr-hit: rgb(244, 75, 24);
	--clr-miss: rgb(221, 221, 221);
	--clr-white: white;
	--clr-bg-div: #B5E5CF;
	--clr-bg-computer: #3D5B59;
}

html {
	scroll-behavior: smooth;
	transition: all 0.5s ease;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--clr-bkgrnd);
	background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23369af4' fill-opacity='0.11'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	overflow-x: hidden;
	transition: all 0.5s ease;
}

*,
*::before,
*::after {
	font-family: 'Roboto Mono', monospace;
	box-sizing: border-box;
}

.splash-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 66vh;
}

.splash-title {
	font-family: 'Roboto Mono', monospace;
	font-size: 10rem;
}

.splash-battleship-image {
	position: absolute;
	bottom: 5vh;
	left: 20vw;
	width: 100%;
	transform: rotateY(180deg);
	pointer-events: none;
	opacity: 0.25;
}

.btn {
	font-size: inherit;
	background-color: var(--clr-btn-bkgrnd);
	padding: 0.5em 1em;
	outline: none;
	border: none;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.2em;
	color: #333;
}

.btn:hover,
.btn:focus {
	background-color: var(--clr-btn-bkgrnd-fcs);
}

.splash-btn {
	font-size: 2rem;
	margin-left: 2rem;
}

.splash-btn:first-child {
	margin-left: 0;
}

.container {
	display: flex;
	justify-content: space-around;
	width: 80%;
	padding: 2%;
	transition: all 0.5s ease;
}

#user,
#computer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#userFleet {
	margin-left: 10%;
	padding: 2%;
	width: 50%;
	background-color: var(--clr-bg-div);
	border-radius: 4px;
	text-align: center;
}

#computerFleet {
	margin-left: 10%;
	padding: 2%;
	width: 50%;
	background-color: var(--clr-bg-computer);
	border-radius: 4px;
	text-align: center;
	color: var(--clr-text-fleet);
}

.vertical-line {
	margin: 2%;
}

.horizontal-line {
	display: none;
}

.battleship-grid {
	display: grid;
	background-color: var(--clr-bkgrnd);
	grid-template-rows: repeat(10, 4.0vmin);
	grid-template-columns: repeat(10, 4.0vmin);
}

/* GRID FOR USER */

.A-user,
.B-user,
.C-user,
.D-user,
.E-user,
.F-user,
.G-user,
.H-user,
.I-user,
.J-user,
.user-1,
.user-2,
.user-3,
.user-4,
.user-5,
.user-6,
.user-7,
.user-8,
.user-9,
.user-10 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	font-weight: 900;
	font-size: 1.3em;
}

.blank-user {
	grid-area: blank-user;
}

.A-user {
	grid-area: A-user;
}

.B-user {
	grid-area: B-user;
}

.C-user {
	grid-area: C-user;
}

.D-user {
	grid-area: D-user;
}

.E-user {
	grid-area: E-user;
}

.F-user {
	grid-area: F-user;
}

.G-user {
	grid-area: G-user;
}

.H-user {
	grid-area: H-user;
}

.I-user {
	grid-area: I-user;
}

.J-user {
	grid-area: J-user;
}

.user-1 {
	grid-area: user-1;
}

.user-2 {
	grid-area: user-2;
}

.user-3 {
	grid-area: user-3;
}

.user-4 {
	grid-area: user-4;
}

.user-5 {
	grid-area: user-5;
}

.user-6 {
	grid-area: user-6;
}

.user-7 {
	grid-area: user-7;
}

.user-8 {
	grid-area: user-8;
}

.user-9 {
	grid-area: user-9;
}

.user-10 {
	grid-area: user-10;
}


.grid-user {
	grid-area: user-grid;
}


.user-grid-labels {
	display: grid;
	grid-template-columns: repeat(11, 4.0vmin);
	grid-template-rows: repeat(11, 4.0vmin);
	grid-template-areas:
		"blank-user A-user B-user C-user D-user E-user F-user G-user H-user I-user J-user"
		"user-1 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-2 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-3 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-4 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-5 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-6 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-7 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-8 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-9 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid"
		"user-10 user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid user-grid";
}

/* GRID FOR USER */

/* GRID FOR COMPUTER */
.A-computer,
.B-computer,
.C-computer,
.D-computer,
.E-computer,
.F-computer,
.G-computer,
.H-computer,
.I-computer,
.J-computer,
.computer-1,
.computer-2,
.computer-3,
.computer-4,
.computer-5,
.computer-6,
.computer-7,
.computer-8,
.computer-9,
.computer-10 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-self: center;
	font-weight: 900;
	font-size: 1.3em;
}

.blank-computer {
	grid-area: blank-computer;
}

.A-computer {
	grid-area: A-computer;
}

.B-computer {
	grid-area: B-computer;
}

.C-computer {
	grid-area: C-computer;
}

.D-computer {
	grid-area: D-computer;
}

.E-computer {
	grid-area: E-computer;
}

.F-computer {
	grid-area: F-computer;
}

.G-computer {
	grid-area: G-computer;
}

.H-computer {
	grid-area: H-computer;
}

.I-computer {
	grid-area: I-computer;
}

.J-computer {
	grid-area: J-computer;
}

.computer-1 {
	grid-area: computer-1;
}

.computer-2 {
	grid-area: computer-2;
}

.computer-3 {
	grid-area: computer-3;
}

.computer-4 {
	grid-area: computer-4;
}

.computer-5 {
	grid-area: computer-5;
}

.computer-6 {
	grid-area: computer-6;
}

.computer-7 {
	grid-area: computer-7;
}

.computer-8 {
	grid-area: computer-8;
}

.computer-9 {
	grid-area: computer-9;
}

.computer-10 {
	grid-area: computer-10;
}


.grid-computer {
	grid-area: computer-grid;
}


.computer-grid-labels {
	display: grid;
	grid-template-columns: repeat(11, 4.0vmin);
	grid-template-rows: repeat(11, 4.0vmin);
	grid-template-areas:
		"blank-computer A-computer B-computer C-computer D-computer E-computer F-computer G-computer H-computer I-computer J-computer"
		"computer-1 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-2 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-3 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-4 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-5 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-6 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-7 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-8 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-9 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid"
		"computer-10 computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid computer-grid";
}

/* GRID FOR COMPUTER */

.grid-computer>.taken,
.grid-computer>.boom {
	background-color: var(--clr-bg-computer);
}

.taken,
.ship {
	position: relative;
	background-color: var(--clr-ship-bkgrnd);
}

.taken.start.vertical,
.taken.start.vertical::before {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	
}

.taken.end.vertical,
.taken.end.vertical::before {
	border-bottom-left-radius: 25%;
	border-bottom-right-radius: 25%;
}

.taken.start.horizontal,
.taken.start.horizontal::before {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.taken.end.horizontal,
.taken.end.horizontal::before {
	border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;
}

.taken.vertical::before,
.taken.horizontal::before {
	content: "";
	position: absolute;
	border: 0.3vmin solid var(--clr-white);
	top: -1px;
	bottom: -1px;
	left: -1px;
	right: -1px;
}

.taken.horizontal::before {
	animation: ripplesY 3s linear infinite;
	border-left: none;
	border-right: none;
}

.taken.vertical::before {
	animation: ripplesX 3s linear infinite;
	border-top: none;
	border-bottom: none;
}

.grid-user .taken {
	background-color: var(--clr-ship-bkgrnd);
}

@keyframes ripplesX {
	0% {
		opacity: 1;
		transform: scaleX(1);
	}

	100% {
		opacity: 0;
		transform: scaleX(1.5);
	}
}

@keyframes ripplesY {
	0% {
		opacity: 1;
		transform: scaleY(1);
	}

	100% {
		opacity: 0;
		transform: scaleY(1.5);
	}
}

.grid-display {
	display: flex;
}

.ship>div {
	width: 4.6vmin;
	height: 4.6vmin;
}

.ship {
	display: flex;
	flex-wrap: wrap;
	margin: 1vmin;
	width: calc(4.6vmin * var(--width, 1));
	height: calc(4.6vmin * var(--height, 1));
	border-radius: 2.3vmin;
	border-bottom-right-radius: 1.0vmin;
	border-top-right-radius: 1.0vmin;
}


.destroyer-container-vertical,
.submarine-container-vertical,
.cruiser-container-vertical,
.battleship-container-vertical,
.carrier-container-vertical {
	border-radius: 2.3vmin;
	border-bottom-right-radius: 1.0vmin;
	border-bottom-left-radius: 1.0vmin;
	
}


.battleship-grid div {
	margin: 1px;
	border: 1px solid var(--clr-bg-div);
	background-color: var(--clr-bg-div);
	border-radius: 5px;
}

.grid-computer div {
	margin: 1px;
	border: none;
	background-color: var(--clr-bg-computer);
}

.destroyer-container {
	
	--width: 2;
}

.destroyer-container-vertical {
	--height: 2;
	--width: 1;
}

.submarine-container,
.cruiser-container {
	--width: 3;
}

.submarine-container-vertical,
.cruiser-container-vertical {
	--height: 3;
	--width: 1;
}

.battleship-container {
	--width: 4;
}

.battleship-container-vertical {
	--height: 4;
	--width: 1;
}

.carrier-container {
	--width: 5;
}

.carrier-container-vertical {
	--height: 5;
	--width: 1;
}


.hidden-info {
	font-weight: 500;
	font-size: 1.5rem;
	align-items: center;
	flex-direction: column;
}

.info-text {
	margin: 1rem;
}

.miss,
.boom {
	display: flex;
	justify-content: center;
	align-items: center;
}

.boom::after,
.miss::after {
	content: "";
	position: absolute;
	border-radius: 100%;
	width: 2vmin;
	height: 2vmin;
}

#user .miss::after {
	background-color: var(--clr-miss-usergrid);
}

.miss::after {
	background-color: var(--clr-miss);
}

.boom::after {
	background-color: var(--clr-hit);
}

.miss::before {
	content: "";
	position: absolute;
	animation: hit 0.2s ease-out forwards;
	/* border: 1vmin solid var(--clr-miss); */
	border-radius: 100%;
	width: 2vmin;
	height: 2vmin;
}

.boom {
	animation: boom 0.2s ease-out forwards;
}

@keyframes hit {
	0% {
		opacity: 1;
		transform: scale(0);
	}

	100% {
		opacity: 0;
		transform: scale(4);
	}
}

@keyframes boom {
	0% {
		background-color: var(--clr-hit);
	}

	100% {
		background-color: var(--clr-ship-bkgrnd);
	}
}

.player {
	margin: 2vmin;
}

.connected,
.ready {
	font-weight: normal;
	opacity: 0.25;
	text-decoration: line-through;
}

.connected.active,
.ready.active {
	opacity: 1;
	text-decoration: none;
}

@media screen and (max-width: 992px) {

	html {
		transition: all 1s ease;
	}

	.container {
		flex-direction: column;
		width: 100%;
		transition: all 1s ease;
	}

	.battleship-grid {
		grid-template-rows: repeat(10, 6.0vmin);
		grid-template-columns: repeat(10, 6.0vmin);
	}

	.user-grid-labels, .computer-grid-labels {
		grid-template-columns: repeat(11, 6.0vmin);
		grid-template-rows: repeat(11, 6.0vmin);
	}

	.grid-display {
		flex-direction: column;
		align-items: center;
	}

	.ship {
		width: calc(6vmin * var(--width, 1));
		height: calc(6vmin * var(--height, 1));
		border-radius: 3vmin;
		border-bottom-right-radius: 1vmin;
		border-top-right-radius: 1vmin;
	}

	.vertical-line {
		display: none;
	}

	.horizontal-line {
		display: flex;
		margin: 4%;
	}

	.boom::after,
	.miss::after {
		width: 3vmin;
		height: 3vmin;
	}

	.miss::before {
		width: 3vmin;
		height: 3vmin;
	}

	.hidden-info {
		margin-left: 5%;
	}

}


@media screen and (max-width: 550px) {

	.battleship-grid {
		grid-template-rows: repeat(10, 8.0vmin);
		grid-template-columns: repeat(10, 8.0vmin);
	}

	.user-grid-labels, .computer-grid-labels {
		grid-template-columns: repeat(11, 8.0vmin);
		grid-template-rows: repeat(11, 8.0vmin);
	}

	.boom::after,
	.miss::after {
		width: 4vmin;
		height: 4vmin;
	}

	.miss::before {
		width: 4vmin;
		height: 4vmin;
	}

	.setup-buttons {
		display: flex;
		flex-direction: column;
	}

	.setup-buttons button {
		margin: 1%;
	}

}